
header.masthead h1 {
  margin: 7px 24px 7px 20px
}

section {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
}

td.tenant_name {
  font-weight: bold;
}

td.tenant_name a {
  text-decoration: none;
}

th.tenant_tech_info {
  font-size: small;
}

tr.tenant span.warning {
  color: orange;
}

tr.tenant span.v-true {
  color: green;
}

tr.tenant span.v-false {
  color: red;
}

